.nandgatestudios-social a.btn{
    display: block;

    font-variant: normal;
    font-style: normal;
    font-weight: normal;
    float: left;

    width: 38px;
    height: 38px;

    margin-left: 5px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    text-align: center;
}

.nandgatestudios-social a i,
.nandgatestudios-social a i:before{
    color: #ffffff;
    font-size: 16px;
    font-variant: normal;
    font-style: normal;
    font-weight: normal;
    line-height: 38px;
    width: 38px;
    height: 38px;
}

.nandgatestudios-social a.facebook{
    background: #265999;
    border-bottom: 1px solid #002767;
    margin-left: 0px;
}
.nandgatestudios-social a.gplus{
    border-bottom: 1px solid #c10000;
    background: #f32e31;
}
.nandgatestudios-social a.twitter{
    border-bottom: 1px solid #007ebd;
    background: #00b0ef;
}
.nandgatestudios-social a.pinterest{
    border-bottom: 1px solid #9a0000;
    background: #ef0021;
}
.nandgatestudios-social a.mail{
    border-bottom: 1px solid #2d6700;
    background: #5f992f;
}

.nandgatestudios-headline {
  margin-top: 120px;
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (max-width: 782px) {
  .nandgatestudios-headline {
    margin-top: 80px;
    margin-bottom: 40px;
  }
}
.nandgatestudios-headline h1 {
  color: #000000;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media screen and (max-width: 782px) {
  .nandgatestudios-headline h1 {
    font-size: 26px;
    line-height: 30px;
  }
}
.nandgatestudios-headline p {
  color: #888888;
  margin-top: 10px;
}
.nandgatestudios-headline span {
  display: inline-block;
  background: #ffffff;
  padding: 10px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.nandgatestudios-social-share-panel{
    display: block;
    text-align: center;
    margin-bottom: 60px;
}
@media screen and (max-width: 782px) {
    .nandgatestudios-social-share-panel{
        margin-bottom: 40px;
    } 
}
.nandgatestudios-social-share-panel a.btn{
    display: inline-block;

    font-variant: normal;
    font-style: normal;
    font-weight: normal;

    width: 38px;
    height: 38px;

    margin-left: 5px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    text-align: center;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
        -ms-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}

.nandgatestudios-social-share-panel a i,
.nandgatestudios-social-share-panel a i:before{
    color: #ffffff;
    font-size: 16px;
    font-variant: normal;
    font-style: normal;
    font-weight: normal;
    line-height: 38px;
    width: 38px;
    height: 38px;
}

.nandgatestudios-social-share-panel a.facebook{
    background: #265999;
    border-bottom: 1px solid #002767;
    margin-left: 0px;
}
.nandgatestudios-social-share-panel a.gplus{
    border-bottom: 1px solid #c10000;
    background: #f32e31;
}
.nandgatestudios-social-share-panel a.twitter{
    border-bottom: 1px solid #007ebd;
    background: #00b0ef;
}
.nandgatestudios-social-share-panel a.pinterest{
    border-bottom: 1px solid #9a0000;
    background: #ef0021;
}
.nandgatestudios-social-share-panel a.mail{
    border-bottom: 1px solid #2d6700;
    background: #5f992f;
}

.nandgatestudios-addvertising-wrapper {
  margin-right: 0px;
  margin-top: 10px;
}
@media screen and (max-width: 782px) {
  .nandgatestudios-addvertising-wrapper {
    margin-top: 10px;
    margin-right: 0px;
  }
}
.nandgatestudios-addvertising-wrapper .nandgatestudios-addvertising {
  margin-left: -10px;
  margin-right: -10px;
}
.nandgatestudios-addvertising-wrapper .nandgatestudios-addvertising .nandgatestudios-adds-item {
  display: inline-block;
  padding: 10px;
  position: relative;
  width: 25%;
  max-width: 450px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.nandgatestudios-addvertising-wrapper .nandgatestudios-addvertising .nandgatestudios-adds-item .nandgatestudios-adds-content {
  background: #ffffff;
}
.nandgatestudios-addvertising-wrapper .nandgatestudios-addvertising .nandgatestudios-adds-item .nandgatestudios-adds-content img {
  max-width: 100%;
}
.nandgatestudios-addvertising-wrapper .nandgatestudios-addvertising .nandgatestudios-adds-item .nandgatestudios-adds-content .nandgatestudios-title {
  font-family: Roboto, sans-serif, Arial, serif;
  padding: 8px;
}
.nandgatestudios-addvertising-wrapper .nandgatestudios-addvertising .nandgatestudios-adds-item .nandgatestudios-adds-content .nandgatestudios-title span {
  color: #454545;
  font-family: Montserrat, sans-serif, Arial, serif;
  font-weight: bold;
  float: right;
}
@media screen and (max-width: 991px) {
  .nandgatestudios-addvertising-wrapper .nandgatestudios-addvertising .nandgatestudios-adds-item {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .nandgatestudios-addvertising-wrapper .nandgatestudios-addvertising .nandgatestudios-adds-item {
    width: 100%;
  }
}
